---
layout: default
title: Akril - AMMO 
---
<div class="container">
<div class="sidebar-helper">
<aside>
    {% include menu_cats.html %}
</aside>
<section>
<div class="section">
<div class="container">
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs"><ul><li><a href="Akril.html">Akril</a></li><li><a href="Akril_AMMO.html">AMMO</a></li></ul></nav>
<div class="products">
    {% for product in site.products %}
		{% if product.cat == "Akrilne-Boje" and product.subcat == "AB-AMMO"%}
				<div class="product simpleCart_shelfItem">
					<h4 class="product-name item_name card-header-title"><a class="has-text-dark" href="{{product.url}}">{{product.title}}</a></h4>
					<img class="product-img image" data-src="{{product.img_path}}" alt="">
					<div class="product-data">
						<p class="product-description"> {{product.desc}}</p>
						<strong class="product-price is-main-txt item_price">{{product.price}} <small>RSD</small></strong>
						<p class="product-category item_category">{{ product.category }}</p>
					</div>
					<div class="product-widgets">
						<input type="number" value="1" class="item_Quantity input">
						<a class="item_add button is-main-bg buy_button is-large" href="javascript:;">Kupi</a>
					</div>
				</div>
		{% endif %}
    {% endfor %}
</div>
</div>
</div>
</section>
</div>
</div>
