---
layout: default
title: ALCLAD II Metalic Boje - Titans AMMO 400mL 
---
<div class="container">
<div class="sidebar-helper">
<aside>
    {% include menu_new_side.html %}
</aside>
<section>
<div class="section">
<div class="container">
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs"><ul><li><a href="ALCLAD_II_Metalic_Boje.html">ALCLAD II Metalic Boje</a></li><li><a href="ALCLAD_II_Metalic_Boje_Titans_AMMO_400mL.html">Titans AMMO 400mL</a></li></ul></nav>
<div class="filters" data-filter=""></div>

<div class="products">
    {% for product in site.products %}
		{% if product.cat == "ALCLAD-II-METALIC-BOJE" and product.subcat == "ALC-Titans-AMMO-400mL" and product.price != "TBA" and product.price != "0" %}
				<div class="product simpleCart_shelfItem">
                                        <h3 style="display:none;" class="item_code">{{product.sifra}}</h3>
					<h4 class="product-name item_name card-header-title"><a class="has-text-dark" href="{{product.url}}">{{product.title}}</a></h4>
					<img class="product-img image" data-src="{{product.img_path}}" alt="">
					<div class="product-data">
						<p class="product-description"> {{product.desc}}</p>
						<strong class="product-price is-main-txt item_price">{{product.price}} <small>RSD</small></strong>
						<p class="product-category item_category">{{ product.category }}</p>
					</div>
					<div class="product-widgets">
						<input type="number" value="1" class="item_Quantity input">
						<a class="item_add button is-main-bg buy_button is-large" href="javascript:;">KUPI</a>
					</div>
				</div>
		{% endif %}
    {% endfor %}
</div>
</div>
</div>
</section>
</div>
</div>
