---
layout: default
title: Plastične Makete - MIG Productions 
---
<div class="container">
<div class="sidebar-helper">
<aside>
    {% include menu_new_side.html %}
</aside>
<section>
<div class="section">
<div class="container">
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs"><ul><li><a href="Plastične_Makete.html">Plastične Makete</a></li><li><a href="Plastične_Makete_MIG_Productions.html">MIG Productions</a></li></ul></nav>
<div class="filters" data-filter="['1/16', '1/32', '1/35', '1/48', '1/72', '1/144']"></div>
<script defer src="/assets/js/filters.js"></script>
<div class="products">
    {% for product in site.products %}
		{% if product.cat == "010000" and product.subcat == "012700" and product.price != "0" and product.available %}
				<div class="product simpleCart_shelfItem">
					<h4 class="product-name item_name"><a class="has-text-dark" href="{{product.url}}">{{product.title}}</a></h4>
                                        <h5 class="code item_code">{{product.sifra}}</h5>
					<img class="product-img image" data-src="{{product.img_path}}" alt="">
					<div class="product-data">
						<p class="product-description"> {{product.desc}}</p>
						<strong class="product-price is-main-txt item_price">{{product.price}} <small>RSD</small></strong>
						<p class="product-category item_category">{{ product.category }}</p>
					</div>
					<div class="product-widgets">
                                                {% if product.available %}
							<span class="avl-true">Na stanju</span>
                                                {% else %}
							<span class="avl-false">Nije na stanju</span>
                                                {% endif %}
						<input type="number" value="1" class="item_Quantity input is-small">
						<a class="item_add button is-main-bg buy_button is-small" href="javascript:;">KUPI</a>
					</div>
				</div>
		{% endif %}
    {% endfor %}
    {% for product in site.products %}
		{% if product.cat == "010000" and product.subcat == "012700"  and product.price != "0" and product.available  == false %}
				<div class="product simpleCart_shelfItem">
                                        <h5 class="code item_code">{{product.sifra}}</h5>
					<h4 class="product-name item_name card-header-title"><a class="has-text-dark" href="{{product.url}}">{{product.title}}</a></h4>
					<img class="product-img image" data-src="{{product.img_path}}" alt="">
					<div class="product-data">
						<p class="product-description"> {{product.desc}}</p>
						<strong class="product-price is-main-txt item_price">{{product.price}} <small>RSD</small></strong>
						<p class="product-category item_category">{{ product.category }}</p>
					</div>
					<div class="product-widgets">
                                                {% if product.available %}
							<span class="avl-true">Na stanju</span>
                                                {% else %}
							<span class="avl-false">Nije na stanju</span>
                                                {% endif %}
						<input type="number" value="1" class="item_Quantity input is-small">
						<a class="item_add button is-main-bg buy_button is-small" href="javascript:;">KUPI</a>
					</div>
				</div>
		{% endif %}
    {% endfor %}
</div>
</div>
</div>
</section>
</div>
</div>
