<div class="container" style="display: flex; flex-direction: column; align-items: center;">
	<a href="/"><img class="image center is-128x128"src="/assets/img/FlakHobby.png"></a>
	<h3 style="margin-left: 10px;">Obaveštenje: </h3>
	<p style="font-size:1rem;">Danas počinje naručivanje maketa Meng, MiniArt, Trumpeter i HobbyBoss i traje do 31. marta. Isporuka se očekuje sredinom aprila.
Ukoliko Vas zanima maketa, a još uvek nema cene pošaljite mi upit.
Perite ruke, ostanite unutra i srećno maketarenje!<p>
</div>
