<div class="section">
    <div class="brands-header">
        <h3 class="title">Partneri</h3>
        <hr>
    </div>
    <div class="brands">
        {% for brand in site.brands %}
            <div class="brand">
                <img src="{{brand.img}}"
                    class="brand-img"
                >
                <a href="{{brand.url}}"> 
                    <h4 class="brand-name has-text-weight-bold is-main-txt">
                        {{brand.label}}
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
</div>