<div class="section">
<div class="container">
    <form action="https://submit-form.com/U1A_pm9BzOEsJL0NG47sP" data-netlify-recaptcha="true" data-netlify="true">
	  <div data-netlify-recaptcha="true" style="display:none;"></div>
        <div class="field">
            <label for="name" class="label">Ime:</label>
            <div class="control">
                    <input id="name" class="input" type="text" name="name" placeholder="Ime" required>
            </div>
        </div>
        <div class="field">
            <label for="email" class="label">Email:</label>
            <div class="control">
                    <input id="email" class="input" type="email" name="email" placeholder="Email" required>
            </div>
        </div>
        <div class="field">
            <label for="phonenum" class="label">Broj telefona:</label>
            <div class="control">
                    <input id="phonenum" class="input" type="text" name="phone_num" placeholder="Broj telefona" required>
            </div>
        </div>
        <div class="field">
            <label for="message" class="label">Poruka:</label>
            <div class="control">
                <textarea id="message" class="textarea" name="message" rows="5" placeholder="Unesite poruku ovde..."></textarea>
            </div>
        </div>
        <br>
        <button class="button is-main-bg is-large center" type="submit" class="btn">Pošalji</button>
    </form>
</div>
</div>
