<header>
    <div class="logo">
        <h1><a href="index.html"></a>{{site.data.site.name}}</a></h1>
    </div>

    <input type="checkbox" class="menu-checkbox" id="chb-show-links" />
    <label class="menu-button" for="chb-show-links" id="btn-show-links">
        <span class="nav-icon"></span>
    </label>

    <nav class="nav-links">
<!--
	<div class="sreach-bar">
		<input class="search-input" type="text" placeholder="Pojam za pretragu...">
		<button class="search-button"></button>
	</div> -->
        <ul>
            <li class="nav-link"><a href="index.html">Početna</a></li>
            <li class="nav-link"><a href="kategorije.html">Kategorije</a></li>
            <li class="nav-link"><a href="kontakt.html">Kontakt</a></li>
	        <li class="nav-link"><a href="korpa.html">Korpa<span class="simpleCart_total"></span></a></li>
        </ul>
    </nav>
</header>
