<header>
    <nav>
        <div class="logo">
            <h1>{{site.data.site.name}}</h1>
        </div>
<!--
	<div class="sreach-bar">
		<input class="search-input" type="text" placeholder="Pojam za pretragu...">
		<button class="search-button"></button>
	</div> -->
        <ul class="nav-links">
            <li><a href="index.html">Početna</a></li>
            <li><a href="kategorije.html">Kategorije</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
	    <li><a href="korpa.html">Korpa</a>(<span class="simpleCart_total"></span>)</li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>
