<div class="container">
	<div class="menu">
			<strong class="menu-label">Kategorije</strong>
			<ul class="menu-list menu" id="dropdown-menu" role="menu">
			{% for cat in site.data.cats %}
				<li>

					<a href="{{cat.maincat | replace: ' ', '_'}}.html">
						{{cat.maincat}}
						{% if cat.subcats %}
						<span class="list-expand">&#x25BC;</span>
						{% endif %}
					</a>
					{% if cat.subcats %}
						<ul class="menu-list menu">
						{% for subcat in cat.subcats %}
							<li>
								<a href="{{cat.maincat | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}.html" class="dropdown-item">
									{{subcat.name}}
									{% if subcat.subsubcats %}
									<span class="list-expand">&#x25BC;</span>
									{% endif %}
								</a>
								{% if subcat.subsubcats %}
									<ul class="menu-list menu">
									{% for subsubcat in subcat.subsubcats %}
										<li>
											<a href="{{cat.maincat | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}_{{subsubcat | replace: ' ', '_'}}.html" class="dropdown-item">
												{{subsubcat}}
											</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
	</div>
</div>
<script>
let allSubmenus = document.querySelectorAll('.menu-list ul');
allSubmenus.forEach(function (elem) {
	elem.classList.add('hidden');
});

let linksLvl1 = document.querySelectorAll('.menu-list li a');
linksLvl1.forEach(function (elem) {
	console.clear();
	console.log(elem);
	let btn = elem.querySelector('.list-expand');
	console.table(btn);
	if(btn != null) {
		btn.addEventListener('click', function(evt) {
			console.log('clicked');
			evt.preventDefault();
			let menu = evt.target.parentNode.parentNode.querySelector('.menu-list');
			menu.classList.toggle('hidden');
		});
	}
});

let linksLvl2 = document.querySelectorAll('.menu-list li .menu-list li a');
linksLvl2.forEach(function (elem) {
	let btn = document.querySelector('.list-expand');
	btn.addEventListener('click', function(evt) {
		evt.preventDefault();
  		let menu = evt.target.parentNode.parentNode.querySelector('.menu-list');
    	menu.classList.toggle('hidden');
  });
});
</script>
