<div class="menu">
	<ul>
	{% for cat in site.data.cats %}
		<li>
			<a href="{{cat.maincat | replace: ' ', '_'}}.html"> {{cat.maincat}} </a>
			{% if cat.subcats != "" %}
				<ul>
				{% for subcat in cat.subcats %}
					<li>
						<a href="{{cat.maincat | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}.html">{{subcat.name}}</a>
						{% if subcat.subsubcats != "" %}
							<ul>
							{% for subsubcat in subcat.subsubcats %}
								<li>
									<a href="{{cat.maincat | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}_{{subsubcat | replace: ' ', '_'}}.html">{{subsubcat}}</a>
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
