<button class="is-light button toggle-menu-button hidden">Meni</button>
<div class="menu">
		<div class="menu-list menu" id="dropdown-menu" role="menu">
			{%- for cat in site.data.cats -%}
			<details>
				<summary>
					<a href="{{cat.maincat.name | replace: ' ', '_'}}.html">
					{{cat.maincat.name}}
					</a>
				</summary>
				{%- if cat.subcats -%}
				<div class="menu-list menu">
				{%- for subcat in cat.subcats -%}
					<details>
						<summary>
							<a href="{{cat.maincat.name | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}.html" class="dropdown-item">
							{{subcat.name}}
							</a>
						</summary>
					{%- if subcat.subsubcats -%}
						<div class="menu-list menu">
						{%- for subsubcat in subcat.subsubcats -%}
							<summary>
								<a href="{{cat.maincat.name | replace: ' ', '_'}}_{{subcat.name | replace: ' ', '_'}}_{{subsubcat.name | replace: ' ', '_'}}.html" class="dropdown-item">
								{{subsubcat.name}}
								</a>
							</summary>
						{%- endfor -%}
						</div>
					{%- endif -%}
					</details>
				{%- endfor -%}
				</div>
				{%- endif -%}
				</details>
			{%- endfor -%}
		</div>
</div>