<div class="section">
		<div class="my-container">

<div id="slider">
	<div id="slide-holder">
		<div class="slide"><img src="assets/img/slider-img-1.jpeg" /></div>
		<div class="slide"><img src="assets/img/slider-img-2.jpeg" /></div>
		<div class="slide"><img src="assets/img/slider-img-3.jpeg" /></div>
	</div>
</div>

<a class="has-text-white button is-main-bg is-large " 
href="katalog.html" 
style="margin: 40px auto;"
>
 Pogledajte katalog
</a> 
</div>
</div>


<!--
<section class="section">
		<div class="container">
			
			<div id="carousel-demo" class="carousel">
				<div class="item-1">
						<img src="assets/img/slider-img-1.jpeg" />
				</div>
				<div class="item-2">
						<img src="assets/img/slider-img-2.jpeg" />
				</div>
				<div class="item-3">
						<img src="assets/img/slider-img-3.jpeg" />
				</div>
			</div>
			
		</div>
	</section>
	<script>
	bulmaCarousel.attach('#carousel-demo', {
		slidesToScroll: 1,
		slidesToShow: 4
	});
	</script>
-->