/* index main*/
.index-main {
    background-color: rgba(0,0,0,.25);
    background: url("/assets/img/slider-img-1.jpeg");
    background-size: cover;
    margin: 0 auto;
    background-position: scroll;
    max-width:1350px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.index-main h1 {
    font-size: 3em;
    /*text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/
}

.index-main p {
    font-size: 1.5em;
    /*text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}
/* end index main */

/* offer-wraper*/
.cat-page {
	display: flex;
	flex-direction: row;
}
/* end offer-wraper*/

/* product-panel */
.product-panel {
	/*display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;*/
	margin-bottom: 20px;
}

.product-panel-title {
	font-size: 1.1em;
	display: block;	
1
}
.panel-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	max-width: 80vw;
}

.product-panel-name {
	font-size: 1.1em;	
}

.panel-products .panel-product {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	max-height:250px;
	min-width: 200px;
	min-height: 390px;
	width:100%;
	margin: 0 10px;
	padding: 10px;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

 .panel-products .panel-product>img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3px;
}

.item_add {
	transition: all 0.5s;
}

.item_add:active {
	background-color: #ade63a;
}
/* end product-panel */

/* products */
.products {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 5px;
    max-width: 80vw;
    margin: 0 auto;
    margin-top:10px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-height: 500px;
    /*max-width: 200px; */
    width:100%;
    padding: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}


.product-data {
    color: gray;
    margin-right: auto;
}
.product-name, .product-price {
    margin: 10px 0;
}

.product-price {
    color: #33a100;
}

.product>img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3px;
    margin-top: 3px;
}
.buy_button {
    margin-top: 15px;
    margin-top: 15px;
}

.product-widgets {
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    align-content: top;
}

.product-widgets input {
    /*display: block;*/
    max-width: 60px;
    height: 30px;
    height: 100%;
}

.product-widgets .button  {
    /*display: block;*/
    max-width:160px;
    max-height: 40px;
    margin: 0;
}
/* end products */

/* filters */
.filter-wrapper {
	display: flex;
	align-content: stretch;
	justify-content: space-around;
}

.filter-chbx {
	border: 1px solid #aabbaa;
	padding: 11px;
	border-radius: 5%;
}
.filters {
	margin-bottom: 15px;
	text-align: center;
	padding: 30px;
}

.filters input {
	margin-right: 15px;
}

.filter label {
	margin-right: 15px;
	border-right: 1px solid grey;
}
/* end filters */
.list-expand {
	margin-left: 10px;
	font-size: 1.7rem;
}
.search-field {
	min-height: 35px;
	min-width: 250px;
}

/* brands */
.brands-header {
    max-width: 1350px;
    margin: 20px auto;
    text-align: center;
}
.brands {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
    max-width: 1350px;
    margin: 0 auto;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    /*max-width: 200px; */
    width:100%;
    padding: 10px;
}

.brand-name {
    margin: 10px 0;
}

.brand>img {
    max-width: 200px;
    height: auto;
    min-height: 200px;
    margin-bottom: 3px;
    border-radius: 5%;
    box-shadow: 1px 1px 5px black;
}
/* end brands */

/* menu_cats */
.menu-wrapper {
	max-width:960px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 10px;	
}

.menu-wrapper button {
	width: 200px;
	/*height: 20px;*/
	padding: 10px;
	text-align: center;
	/*background-color: #6b8e23;*/
}

.menu-wrapper button:hover {
	/*background-color: #6f8f2f;*/
}
.menu {
	width: 18vw;
}
/* end_menu_cats */

/* IMG fallback */
img:before {
	content: ' ';
        max-width: 100%;
	width: 100px;
        height: auto;
	background-color: rgb(255,120,255);
}

/* slider */
#slider {
	width: 800px;
	height: 400px;
	padding: 0;
	overflow: hidden;
	margin: 10px auto;
}

.slide {
	width: 800px;
	height: 400px;
	float: left;
	position: relative;
	overflow: hidden;
}

#slide-holder {
	width: 400%;
	position: relative;
	left: 0;	
	will-change: transform;
	animation: scroller 15s infinite;
}

.slide img {
	width: 100%;
	height: 100;
}

@keyframes scroller {
	0% { transform: translateX(0); }
	33% { transform: translateX(-800px);}
	66% { transform: translateX(-1600px);}
	100% {transform: translateX(0);}
}
/* end slider */



/* table */
table {
    max-width: 1300px;
    width:100%;
    border: 1px solid;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid;
}
tr:nth-child(even) {
    background: whitesmoke;
}
tr:nth-child(odd) {
    background: #aabbaa;
}

.cart-total {
    display: inline-block;
    font-size:2em;
}

.checkout-btn {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    margin-left: 10px;
    background-color: rgb(219, 219, 219);
    color: grey;
}
/* end table */


.avl-true {
	color: green;
}

.avl-false {
	color: crimson;
}

/* utils */
.is-main-bg {
    background-color: #6b8e23;
}

.is-main-txt {
    color: #6b8e23;
}

.my-container {
    display: flex;
    flex-direction: column;
}

.nav-full {
    width:100%;
    height:inherit;
}

.hidden {
    display: none;
}
.list-nav {
    display: flex;
}
.list-expand {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

.cta-button {
	background-opacity: .6;
	padding: 30px;
}
hr {
    border:0;
    height:1px;
    background-image: linear-gradient(to right,rgb(231, 231, 231), rgba(0, 0, 0, 0.068), rgba(1231, 231, 231));
    background-color: rgba(0,0,0,0);
}
/* endutils */
@media (max-width 1000px) {
	.cat-page section {
		display: flex;
		flex-direction: column;
		border: 1px solid red;
	}
}

@media (min-width: 48rem) {
	.sidebar-helper {
		display: flex;
	}	
	.products {
		max-width: 80vw;
	}
}
