:root {
    --clr-primary: #6b8e23; 
    --clr-accent: #6b8e23; 
    --clr-light: #efefef;
    --clr-text: #373737;

    --slide-time: 5s;
}

body {
    background-color: #efefef;
}

.accent-button {
	display: block;
	color: whitesmoke;
	width: 200px;
	height: 40px;
	margin: 10px auto;
	text-align: center;
	background-color: var(--clr-accent);
}

.container {
    max-width:900px;
    width:100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: var(--clr-text);
}

header a {
	text-decoration: none;
	color: black;
}

header {
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    /*position: fixed;*/
    max-width: 1000px;
    width: 100%;
}
header .logo {
    float: left;
    font-size: 2em;
}

/* navigation */

input[type='checkbox'].menu-checkbox {
	display: none;
}


header .nav-links {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-in-out;
}

header .menu-button {
    position: relative;
    padding: 28px 20px;
    float: right;
}

.nav-icon {
    background-color: #6b8e23;
    display: block;
    height: 3px;
    width: 18px;
    position: relative;
    transition: background .2s ease-in;
    margin-top: 3px;
}

.nav-icon:before, .nav-icon:after {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    position: absolute;
    transition: all .2s ease-out;
    background-color: #6b8e23;
}

.nav-icon:after {
    top: -5px;
}

.nav-icon:before {
    top: 5px;
}

header h1 {
    letter-spacing: 1px;
}

.menu-checkbox:checked  ~ .nav-links {
    max-height: 300px;
}

.nav-links {
    list-style: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:13px;
    float: right;
}
.nav-link {
    padding: 10px;
}

.nav-link a {
    text-decoration: none;
    color: var(--clr-text);
    display:block;
}

.nav-link {
	border-radius: 5px 0 5px 0;
}

.nav-link:hover {
	background: var(--clr-accent);
	border-collapse:separate;
	transition: 0.5s ease-out;
}

/* end navigation */


/* product page */

.products {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /*gird-gap: 10px;*/
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    max-width: 200px;
    width:100%;
    padding: 10px;
}

.product-name, .product-price {
    margin: 5px 0;
}



.product>img {
    max-width: 100%;
    height: auto;
}
/* end product page */


/* menu */
.menu ul {
	list-style: square;
}
/* end menu */


.contact { 
    display: grid;
}




/* contact form*/
.contact-form {
    width: 100%;
}

.contact-form form {
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    margin: 10px 0;
    text-align:center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.05);
    color:#303030;
    box-shadow: var(--clr-primary) 2px 2px;
}

.contact-form input {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    height: 2em;
}

.btn {
    display: block;
    width: 7em;
    height: 3em;
    background-color: var(--clr-primary);
}

/* end contact form */

/* image slider */
#slider {
	width: 800px;
	height: 400px;
	padding: 0;
	overflow: hidden;
	margin: 10px auto;
}

.slide {
	width: 800px;
	height: 400px;
	float: left;
	position: relative;
	overflow: hidden;
}

#slide-holder {
	width: 400%;
	position: relative;
	left: 0;	
	will-change: transform;
	animation: scroller 15s infinite;
}

.slide img {
	width: 100%;
	height: 100;
}

@keyframes scroller {
	0% { transform: translateX(0); }
	33% { transform: translateX(-800px);}
	66% { transform: translateX(-1600px);}
	100% {transform: translateX(0);}
}

/* end image slider */



@media screen and (max-width: 768px) {
    .contact-form input, .contact-form textarea {
        width: 100%;
    }

    label.menu-button {
        display: block;
    }


    .nav-link ul {
        
    }

    .btn {
        margin: 0 auto;
    }

}

@media  (min-width: 48em) {

    label.menu-button {
        display: none;
    }
    header .nav-links {
        max-height: 300px;
        clear: none;
        float:right;
    }

    header li {
        float: left;
    }
}
