<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
    <link rel="stylesheet" href="assets/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="search-index.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
   <!-- <div class="section is-paddingless is-fullwidth">
        <div class="container">-->
            {% include header.html %}
    <!--    </div>
    </div> -->
        {{ content }}
    

    
    <script src="assets/js/simpleCart.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/checkout.js"></script>
    {% if page.title == "Hvala" %}
        <script>
            simpleCart.update();
            simpleCart.empty();
            simpleCart.update();
        </script>
    {%endif %}
</body>
</html>
