<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="icon" href="/favicon.png">
    <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <title>{{site.data.site.name}} · {{page.title}}</title>
</head>
<body>
    {% include header.html %}
    {% include banner.html %}
    {{ content }}
    {%include footer.html %}

    <script src="/assets/js/lazy-load.js"></script>
    <script src="/assets/js/simpleCart.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/checkout.js"></script>
    <script>
	/* openning current category in navigation */
	let breadCrumb = document.querySelector('.breadcrumb ul');
	if(breadCrumb != null) {
		if(breadCrumb.childNodes.length >= 1) {
			// otvori prvi nivo
			let catName = breadCrumb.querySelector('ul li a').innerText;
			let lvl1Menu = document.querySelectorAll('.lvl1');
			lvl1Menu.forEach((e) => {
				if(e.childNodes[0].textContent.includes(catName)) {
					let allSubs = e.parentNode.querySelectorAll('ul');
					allSubs.forEach((e) => {
						e.classList.remove('hidden');
					});
				}
			});
		}
	}
    </script>
</body>
</html>
