<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta property="og-title" content="{{page.title}}">
    <meta property="og-description" content="{{page.desc}}">
    <meta property="og-url" content="{{page.url}}">
    <meta property="og-image" content="{{page.img_path}}">
    
    <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/main.css"> -->
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/search-index.js"></script>
    <title>{{site.data.site.name}} · {{page.title}}</title>
</head>
<body>
    {% include header.html %}
			<div class="container">
				<div class="single-product simpleCart_shelfItem">
                                        <h3 style="display:none;" class="item_code">{{page.sifra}}</h3>
					<h4 class="single-product-name item_name card-header-title"><a class="has-text-dark" href="#">{{page.title}}</a></h4>
					<img class="single-product-img image" data-src="{{page.img_path}}" alt="">
					<div class="single-product-data">
						<p class="single-product-description"> {{page.desc}}</p>
						<strong class="single-product-price is-main-txt item_price">{{page.price}} <small>RSD</small></strong>
						<p class="single-product-category item_category">{{ page.category }}</p>
					</div>
	          n                     <img class="single-product-img image" src="{{page.img_path}}" alt="">
          				<div class="single-product-widgets">
                                                {% if page.available %}
							<span class="avl-true">Na stanju</span>
                                                {% else %}
							<span class="avl-false">Rasprodato</span>
                                                {% endif %}
						<input type="number" value="1" class="item_Quantity is-small input">
						<a class="item_add button is-main-bg buy_button is-medium" href="javascript:;">KUPI</a>
					</div>
				</div>
			</div>
    {%include footer.html %}

    <script src="/assets/js/simpleCart.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/checkout.js"></script>
</body>
</html>
